.navbar {
    height: 100%;
    width: 100%;
    padding: var(--mantine-spacing-md);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.navbarMain {
    flex: 1;
}

.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;

    @mixin hover {
        background-color: var(--mantine-color-gray-0);
    }

    &:active {
        background-color: var(--mantine-color-gray-2);
    }

    &[data-active] {
        &,
        &:hover {
            background-color: var(--mantine-color-gray-0);
        }
        &:active {
            background-color: var(--mantine-color-gray-2);
        }
    }
}

.iconContainer {
    width: rem(26px);
    height: rem(26px);
    border-radius: 4px;
    margin-right: var(--mantine-spacing-sm);
}

.newsIcon {
    color: var(--mantine-color-red-6);
}


.vacanciesIcon {
    color: var(--mantine-color-violet-6);
}